# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribución / empaquetado
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Generalmente estos archivos son escritos por un script de Python a partir de una plantilla
#  antes de que PyInstaller construya el ejecutable, para inyectar fecha u otra información.
*.manifest
*.spec

# Logs del instalador
pip-log.txt
pip-delete-this-directory.txt

# Informes de pruebas unitarias / cobertura
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Traducciones
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Documentación Sphinx
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Archivo de horario de celery beat
celerybeat-schedule

# dotenv
.env
.venv

# virtualenv
venv/
ENV/
env/
mi_entorno/


# Archivos de base de datos en el directorio data/db
data/db/*.db
data/db/*.sqlite
data/db/*.sqlite3